/* Main container for the header component */
.header {
  background-color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: end;
  gap: 1.5em;
  padding: 1em 2em;

  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

nav a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 1em 2em;
  color: #000000;
}

nav a:hover {
  color: #1591EA;
}

/* Overrides the color to black for the MiniUiKit page */
.headerLight nav a {
  color: #000000;
}

/* Overrides hover color for the light background */
.headerLight nav a:hover {
  color: #4D4D4D;
}