.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--color-background);

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

.fullHeight {
  height: 100%;
  background-color: var(--color-background);
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: var(--space-xl);
  padding: var(--space-xl) var(--space-2xl);
}

.headerLightShadow {
  box-shadow: 0 12px 64px 0 #FFFFFF;
}

.headerDarkShadow {
  box-shadow: 0 12px 64px 0 #00000031;
}

.closeButton, .menuButton {
  height: fit-content;
  border: 0;
  padding: var(--space-lg);
}

.closeButton img, .menuButton img {
  height: var(--space-lg);
}

.displayMenu {
  position: fixed;
  inset: 0; 
  z-index: 10;
}

.displayNone {
  display: none;
}

.navMobile {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: var(--space-2xl);
}

.navDesktop {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xl);
}

.navLink {
  font-family: var(--font-heading);
  font-size: 2em;
  text-decoration: none;
  color: var(--color-text);
}

.navLink:hover {
  color: #1591EA;
}

/* Overrides the color to black for the MiniUiKit page */
.headerLight .navLink {
  color: #000000;
}

/* Overrides hover color for the light background */
.headerLight .navLink:hover {
  color: #4D4D4D;
}

/* Desktop styles */
@media (min-width: 769px) {
  .menuButton {
    display: none;
  }

  .navMobile {
    display: none;
  }

  .navDesktop {
    display: flex;
  }

  nav {
    justify-content: end;
    gap: var(--space-2xl);
  }

  .navLink {
    font-size: var(--text-xl);
    padding: var(--space-md);
  }
}
