.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLightShadow {
  box-shadow: 0 12px 64px 0 #FFFFFF;
}

.headerDarkShadow {
  box-shadow: 0 12px 64px 0 #00000031;
}

.logo {
  display: flex;
  /* height: var(--space-xl); */
  padding: var(--space-xl) var(--space-xl);
  z-index: 20;
}

.logo:hover {
  opacity: 0.5;
}

.logo img {
  height: var(--space-xl);
}

.menuButton {
  height: fit-content;
  border: 0;
  padding: var(--space-xl) var(--space-xl);
  background: transparent;
  cursor: pointer;
  z-index: 20;
}

.menuButton img {
  height: var(--space-md);
}

/* Mobile overlay */
.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  z-index: 10;
  
  /* hidden by default */
  opacity: 1;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;;
}

.mobileMenuOpen {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.navMobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-xl);
  padding: var(--space-3xl);
  margin-top: var(--space-4xl);
}

.navDesktop {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xl);
}

.navLink {
  font-family: var(--font-heading);
  font-size: 2em;
  text-decoration: none;
  color: var(--color-text);
}

.navLink:hover {
  color: #1591EA;
}

/* Overrides the color to black for the MiniUiKit page */
.headerLight .navLink {
  color: #000000;
}

/* Overrides hover color for the light background */
.headerLight .navLink:hover {
  color: #4D4D4D;
}

/* Desktop styles */
@media (min-width: 769px) {
  .menuButton,
  .mobileMenuOverlay {
    display: none;
  }

  .logo {
    margin-left: var(--space-2xl);
  }

  .navDesktop {
    display: flex;
    gap: var(--space-2xl);
    padding: var(--space-md) var(--space-xl);
    margin-right: var(--space-2xl);
  }

  .navLink {
    font-size: var(--text-xl);
    padding: var(--space-md);
  }
}
