.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--color-background);
  box-shadow: 0 2px 4px 0 #f1f1f1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-md) var(--space-xl);
}

.navLink {
  font-family: var(--font-heading);
  font-size: var(--text-lg);
  text-decoration: none;
  color: #000000;
  padding: var(--space-md);
}

.navLink:hover {
  color: #1591EA;
}

/* Overrides the color to black for the MiniUiKit page */
.headerLight .navLink {
  color: #000000;
}

/* Overrides hover color for the light background */
.headerLight .navLink:hover {
  color: #4D4D4D;
}

/* Desktop styles */
@media (min-width: 769px) {
  nav {
    justify-content: end;
    gap: var(--space-2xl);
  }
}
