@font-face {
  font-family: 'Archivo';
  src: url('../stories/assets/fonts/archivo-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../stories/assets/fonts/archivo-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../stories/assets/fonts/archivo-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../stories/assets/fonts/archivo-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('../stories/assets/fonts/archivo-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../stories/assets/fonts/archivo-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../stories/assets/fonts/archivo-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../stories/assets/fonts/archivo-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../stories/assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}