.about {
  padding: var(--space-2xl);
}

.experience {
  margin-bottom: var(--space-xl)
}

.experienceTitle, .toolsTitle {
  font-family: var(--font-heading);
  font-size: var(--text-2xl);
  font-weight: var(--font-normal);
  border-bottom: 1px solid var(--color-text);
  width: fit-content;
  margin-bottom: var(--space-lg);
}

.experienceList {
  display: flex;
  gap: var(--space-4xl);
}

.experienceList, .toolsList {
  list-style-type: none;
  font-family: var(--font-body);
  font-size: var(--text-lg);
  padding: 0;
}

.experienceListCol {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.fullHeight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--color-background);
}

/* Desktop styles */
@media (min-width: 769px) {
  .about {
    padding: var(--space-6xl);
  }
}
