.about {
  padding: var(--space-6xl);
}

.header {
  font-family: var(--font-heading);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  margin-bottom: var(--space-xl);
}

.content {
  font-family: var(--font-body);
  font-size: var(--text-lg);
  font-weight: var(--font-normal);
  line-height: var(--space-xl);
  width: 60%;
}