.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  color: #FFFFFF;
  background-color: #000000;
  padding: var(--space-lg) var(--space-2xl);
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: var(--space-sm);
  width: 100%;
}

.contactInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.contactInfoWrapper label {
  font-family: var(--font-heading);
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  letter-spacing: var(--space-xs);
  color: var(--color-accent);
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.contactInfo a {
  font-size: var(--text-lg);
  text-decoration: none;
  color: #FFFFFF;
}

.socialMediaWrapper {
  display: flex;
  gap: var(--space-sm);
}

.socialMediaWrapper img {
  filter: invert(100%);
  width: 3rem;
  height: 3rem;
  transition: transform 0.2s ease-in-out;
}

.copyrightWrapper {
  font-family: var(--font-heading);
  font-size: var(--text-sm);
  letter-spacing: 0.1rem;
  padding: var(--space-sm);
  /* width: 100%; */
}

/* Desktop styles */
@media (min-width: 769px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-lg) var(--space-4xl);
  }

  .footerContent {
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xl);
  }

  .copyrightWrapper {
    
  }
}
