.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  color: #FFFFFF;
  background-color: #000000;
  padding: var(--space-lg) var(--space-xl);
}

.footerMain {
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.contactInfoSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-right: 0.1em solid #FFFFFF;
  padding-right: var(--space-lg);
}

.contactInfoSection span {
  font-family: var(--font-heading);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  letter-spacing: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-family: var(--font-body);
  font-size: var(--text-md);
}

.contactInfo a {
  text-decoration: none;
  color: #FFFFFF;
}

.socialMediaSection {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.socialMediaSection img {
  filter: invert(100%);
  width: 3rem;
  height: 3rem;
  transition: transform 0.2s ease-in-out;
}

.footerCopyright {
  display: flex;
  align-items: flex-end;

  font-family: var(--font-heading);
  font-size: var(--text-sm);
  letter-spacing: 0.1rem;
}

.footerCopyrightText {
  margin: 0;
}

/* Desktop styles */
@media (min-width: 769px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-xl) var(--space-4xl);
  }

  .footerMain {
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xl);
    margin-bottom: 0;
  }

  .contactInfo {
    font-size: var(--text-lg);
  }
}
